[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "extern/CommonLibSF"]
	path = extern/CommonLibSF
	url = https://github.com/Deweh/CommonLibSF.git
[submodule "extern/ozz-animation"]
	path = extern/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation
